@import '../../styles/scss/variable';
@import '../../styles/scss/mixins';

.btn {
  margin: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: $color-text-primary;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  @include laptop() {
    margin: 1rem 0 0 0;
  }
  &.primary {
    background: $color-primary;
    &:hover {
      background: $color-ternary;
      color: $color-text-primary;
      box-shadow: 0 0 5px #0001;
    }
    &:active {
      background-color: $color-active-primary;
    }
  }
  &.secondary {
    background: $color-ternary;
    border: 1px solid $color-text-primary;
    &:hover {
      border: 1px solid $color-text-primary;
      color: $color-text-primary;
    }
    &:active {
      background-color: $color-active-primary;
      border: 1px solid $color-text-primary;
    }
  }
  &.link {
    background: none;
  }
}
