@import 'scss/variable';
@import 'scss/mixins';

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Poppins, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  padding: 0 2rem;
}
