@import '../../styles/scss/mixins';

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  .navLeft {
    h1 {
      font-size: 1.2rem;
    }
    span {
      display: block;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
  .navHamburger {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  ul {
    position: absolute;
    bottom: -50px;
    right: -100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    li {
      padding: 0.5rem;
      border-radius: 8px;
      box-shadow: 0px 0px 5px #0001;
      opacity: 0;
      transform: translateX(100%);
      transition-duration: 0.7s;
      transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
    }
    &.expand {
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      li {
        opacity: 1;
        transform: translateX(0);
        transition-delay: calc(0.1s * var(--index));
        cursor: pointer;
      }
    }
  }

  @include ipad() {
    .navLeft {
      h1 {
        font-size: 1.4rem;
      }
      span {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  @include laptop() {
    ul {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transform: translateX(0);
      gap: 0.5rem;
      transition: all 0s;
      li {
        opacity: 1;
        transform: translateX(0);
        cursor: pointer;
        box-shadow: none;
      }
    }
    .navHamburger {
      position: absolute;
      display: none;
    }
  }
}
