/* Color */
$color-primary: #ffeae8;
$color-secondary: #efefef;
$color-ternary: #ffffff;
$color-text-primary: #1d1d1d;
$color-text-secondary: #6e6e6e;
$color-active-primary: #ffeae8;

/* Breakpoints */
$bp-mobile: 320px;
$bp-ipad: 481px;
$bp-laptop: 769px;
$bp-desktop: 1025px;
$bp-large: 1201px;
